<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="assignmentdetails">
                <div class="assignsearchead">
                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="assigntitle">
                                <h3><a href="javascript:void(0);" class="arrow-left" (click)="back()"><i class="fa fa-angle-left"></i></a>
                                    {{pageTitle}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="associate-norecords">
                        <div class="row textstyle1">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <h4>Please direct all your questions to</h4>
                                <h4><u>support@lekhaink.com</u></h4>
                                <h4>We will get back to you in 24 hours.</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <img src="../../../assets/images/callcenter_girls_blue.png" alt="" width="20%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
