/* @media screen and (max-width:1750px){
	.custom-timepicker button.btn.btn-default.text-center {
		padding: 13px 7px;
	}
} */


@media screen and (max-width:1530px) {
	.notification-listing li p	{
		margin-right: 5px;
	}
	.chatreply-box button { padding: 8px 16px; }
	.assigntimeduration ul li {
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 8px;
	}
	.assignsearch ul li { margin-bottom: 5px; }
	.ssnfromgroup input { width: 26%; }
	.heading-lineheight h3 {
		margin-bottom: 10px;
		line-height: 25px !important;
	}
	.buttonstyle {
		padding: 0px 10px;
	}
	.ssn-input-group span {
		margin: 0 4px 0 0px;
	}
	.associate-tablist li a {
 		padding: 0 17px 10px;
	}
	.addshiftmodal {
		width: 60%;
	}
	.invitemodal-width {
		width: 64% !important;
	}
	.selectpeoplelist input {
		width: 65%;
	}
	.availability-weeklist li {
		width: 234px !important;
		margin-bottom: 30px;
	}
	.send-rightbtn-group {
		width: 365px;
	}
}
@media screen and (max-width:1395px) {
	.notification-listing p small{
		clear: both;
		display: block;
		width: 68%;
		float: left;
	}
	.notification-head { margin-bottom: 3px; }
	.notification-listing li{
		margin-bottom: 15px;
		line-height: 20px;
		padding-bottom: 8px;
	}
	.noteheader p input { width: 35%; }
	.associate-tablist li a { padding: 0 17px 10px; }
	.usercardboxs { padding: 5px 9px; }
	.noteuserdetail,.addshiftmodal { width: 87%; }
	.noteuserdetail h4 span	{
		width: 57%;
		text-align: left;
		float: left;
	}
	.noteuserdetail h4 small{
		clear: both;
		display: block;
	}
	.chatsendbutton a { padding: 5px 6px; }
	.noteheader h3, .notification-listing li p, .associate-tablist li a, .according-header a, .currenttable table td, .filterapplybtn a,.assouserid h4, .assousername h4, .assouserphone h4  { font-size: 13px; }
	.chatreply-box button { padding: 8px 10px; }
	.assignsearch ul li input { margin-bottom: 0px; }
	.assigntitle h3, .userdestails h3 { font-size: 17px; }
	.filterbutton a, .associatetitle h4, .currenttable table th, .currenttable table td, .assignment-table table th, .assignment-table table td { font-size: 12px; }
	.skill-listing li h4, .employee-history h4 { font-size: 15px; }
	.assouserid h4 i, .assousername h4 i, .assouserphone h4 i{
		font-size: 13px;
		width: 23px;
		height: 23px;
		line-height: 23px;
	}
	i.idicon { font-size: 13px !important; }
	.assouserid h4 i, .assousername h4 i, .assouserphone h4 i { margin-right:4px; }
	.contactimage img{
		width: 100%;
		margin-bottom: 5px;
		height: 100%;
	}
	.ssn-input-group input {
		width: 29%;
	}
	.formgroupbox .common-selectbox {
		width: 40%;
	}
	.profile-upload .profile-preview {
		width: 173px;
		height: 173px;
	}
	.assignmentlist-table {
		overflow: auto !important;
	}
	.toptitlebar {
		width: 43%;
	}
	.toptitlebar h2 {
		font-size: 18px;
	}
	.header-navbar .navbar-container {
		padding: 0 10px;
	}
	.invitemodal-width {
		width: 75% !important;
	}
}
@media screen and (max-width:1299px){
	.topnavbar {
		padding: 10px 0px;
	}
	.toptitlebar h2 {
		font-size: 18px;
		line-height: 21px;
	}
	.header-rightmenu {
		float: right;
		padding: 4px 0px;
	}
	.toptitlebar {
		width: 40%;
		padding-right: 20px;
	}
	.data-rowdetail {
		bottom: 8px;
	}
}
@media screen and (max-width:1220px) {
	.header-rightmenu ul li { padding-right: 8px; }
	.header-rightmenu li input
	{
		font-size: 13px;
	}
	.userdetailbox h4
	{
		width: 78%;
		margin: auto auto 15px auto;
	}
	.userdestails img { width: 19%; }
	.chatreply-box button { padding: 8px 11px; }
	.filterdetailbox
	{
		right: -4%;
		width: 248%;
	}
	.filterdetailbox:after, .filterdetailbox:before { right: 217px; }
	.applicantsearch ul li
	{
		float: left;
		width: 24%;
	}
	.assignsearch ul li input, .assignsearch ul li select,.applicantsearch .associatenames,.payrollnobox .textstandard.innerselectbox  { width: 100%; }
	.assigntitle h3
	{
		line-height:30px;
		font-size: 15px;
	}
	.assignsearchead { padding: 0px 0 6px 0; }
	.assouserid, .assousername, .assouserphone { margin-top: 3px; }
	.assouserid h4 i, .assousername h4 i, .assouserphone h4 i
	{
		width: 21px;
		height: 21px;
		line-height: 21px;
	}
	.hidden-responsive-scroll
	{
		overflow-x: scroll !important;
		overflow-y: scroll !important;
	}
	.workhistoryedit h4 {
		font-size: 14px;
	}
	.width1200button{
		float: right;
	}
	.header-rightmenu li select {
		height: 34px;
	}
	.ssn-input-group input {
		width: 31%;
	}
	.payrollnobox label {
		font-size: 14px;
		width: 100%;
	}
	.associateuserdet {
		margin-top: 7px;
	}
	.radiobutton label {
		width: auto;
	}
	.profile-upload .profile-preview {
		width: 155px;
		height: 155px;
		margin: auto;
	}
	.assigntimeduration ul li {
		padding-right: 7px;
		padding-left: 7px;
	}
	.profile-upload .profile-edit {
		right: 4px;
		top: 6px;
	}
	.statsbox1 span {
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 25px;
	}
	.statsbox1 h3,.branchstate-box h3 {
		font-size: 16px;
		padding-bottom: 0px;
		padding-top: 3px;
	}
	.statsbox1 h4 {
		font-size: 14px;
	}
	.branch-cardheader h3 {
		font-size: 15px;
		line-height: 19px;
	}
	.branch-cardbox p span, .branch-cardbox p a {
		font-size: 13px;
	}
	.branch-cardbox p strong {
		margin-right: 5px;
	}
	.toptitlebar {
		width: 37%;
		padding-right: 20px;
	}
	.project-detail-header .assouserid.paddingtop10 {
		margin-bottom: 10px;
	}
	.searchform-group.pdpage-box {
		bottom: 0;
		top: auto;
	}
	.error-outer {
		top: 15%;
	}

}
@media screen and (max-width:1140px) {
	.actionitem ul li span { margin-right: 13px; }
	.middlewidth100
	{
		max-width: 100%;
		flex: 100%;
	}
	.actionitem ul li h5
	{
		line-height: 49px;
		width: auto;
	}
	.notification-listing li p { display: block; }
	.notification-listing p small
	{
		float: none;
		clear: inherit;
		display: inline;
	}
	.dropdetails a
	{
		font-size: 13px;
		margin-right: 2px;
		padding: 3px 5px;
	}
	.associateuser img {
		width: 70px;
		height: 70px;
	}
	.associateuserdet {
		margin-top: 10px;
	}
	.col-xl-2.col-md-2.col-2.assousercolumn
	{
		flex: 0 0 30%;
		max-width: 30%;
	}
	.logotext { font-size: 23px; }
	.header-navbar .navbar-header
	{
		width: 145px;
		margin: auto;
		text-align: center;
		padding: 0;
	}
	body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-container { margin-left: 145px; }
	.profileavaila ul li
	{
		width: 17%;
		min-height: 210px;
		margin-bottom: 20px;
	}
	.chatreply-box { margin: 15px 0px; }
	.chatreply-box button
	{
		padding: 8px 6px;
		margin-left: 5px;
	}
	a.bluebutton.table-invitebtn { width: 94%; }
	.workhistoryedit h4 {
		font-size: 13px;
	}
	.assigntimeduration ul li h5 {
		width: 91px;
		min-height: 50px;
	}
	.modal-dialog.modalwidth40 {
		width: 60%;
	}
	.profile-upload .profile-edit {
		right: 34px;
		top: 4px;
	}
	.error-outer {
		top: 5%;
	  }
}
@media screen and (max-width:1070px){
	.labelauty + label {
		font-size: 15px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.offeremp {
		width: 490px;
	}
	.brcard-rightcont .pendingactionlist.ellipsisicon i.la.la-ellipsis-h {
		line-height: 16px;
	}
	.nav-search {
		width: 286px;
		position: relative;
	}
	.header-rightmenu li input {
		width: 160px;
	}
	.toptitlebar {
		width: 36%;
	}
	.nav-search i.la.la-close {
		right: 45%;
	}
	.invitemodal-width {
		width: 92% !important;
	}
}

@media screen and (max-width:992px) {
	.logotext { display: none; }
	.logoiconmd
	{
		display: block;
		width: 87%;
		padding-top: 12px;
		margin: auto;
	}
	.header-rightmenu i.la.la-user { font-size: 27px; line-height: 35px; }
	.header-rightmenu li span {
		font-size: 14px;
		line-height: 37px;
	}
	.chatreply-box textarea,.payrollnobox .textstandard.innerselectbox,.addshiftmodal { width: 95%; }
	.filterdetailbox
	{
		right: -4%;
		width: 229%;
	}
	.associateuser img {
		width: 81%;
		height: 93px;
	}
	body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-container
	{
		margin-left: 45px;
		padding: 0 5px
	}
	body.vertical-layout.vertical-menu-modern .navbar .navbar-header { width: 45px; }
	.logotext { padding-top: 1px; }
	.innermenu-content
	{
		width: 260px !important;
		padding-right: 10px !important;
	}
	.profileavaila ul li
	{
		width: 29.33%;
		margin-bottom: 20px;
	}
	.complateuser-detail h4
	{
		padding-top: 2px;
		word-break: break-all;
		width: 78%;
	}
	.addlocation-listing h3,.shift-swap-left h4,.shiftdrop-box .shift-swap-left h4,.addshiftbox p strong {
		font-size: 15px;
	}
	.addlocation-listing p {
		font-size: 13px;
	}
	.margin-right10 {
		margin-right: 2px !important;
	}
	.assouserid,.addshiftbox p {
		margin-bottom: 10px;
	}
	.ssn-input-group input {
		width: 31%;
	}
	.radiobutton {
		padding: 6px;
		display: block;
		clear: both;
	}
	.radiobutton label {
		width: 48%;
		margin-right: 9px;
	}
	.radiobutton label:last-child {
		margin-right: 0;
		width: 50%;
	}
	.radiobutton input {
		height: 20px;
		width: 20px;
		margin-right: 2px;
	}
	.radiobutton input:checked::before {
		top: 1px;
		font-size: 14px;
		left: 0%;
	}
	.associateworkerdetail,.formgroupbox .common-selectbox {
		width: 70%;
	}
	.modal-dialog.modal-lg.applicant-list-modal.invitemore-modal {
		width: 90%;
		max-width: inherit;
	}
	.radioselectbox label {
		width: 100% !important;
	}
	.ssn-input-group span {
		margin: 0 3px 0 0px;
	}
	.searchform-group.pastsearch-btn {
		float: right;
	}
	.addshiftbox span {
		position: relative;
		top: -1px;
		font-size: 14px;
	}
	.addshiftbox {
		margin-right: 5px;
	}
	.assigntimeduration .todayshiftlist li {
		margin: 0px;
		padding: 10px 7px;
		width: 25%;
	}
	.todayshiftlist .border-bottom{
		border-bottom: 2px solid #ccc !important;
	}
	.todayshiftlist li:nth-child(4){
		border-right: 0;
	}
	.assigntimeduration ul li h5 {
		width: 100%;
		min-height: 30px;
	}
	.profile-upload .profile-edit {
		right: 14px;
		top: 13px;
	}
	.menu-scroll {
		height: 130px;
	}
	.timepicker-box {
		width: 50%;
		float: left;
	}
	.availability-weeklist li {
		height: 370px;
	}
	.availability-weeklist li .custom-timepicker .timepicker-box {
		width: 100%;
		margin-bottom: 17px;
	}
	.error-outer {
		top: 0%;
	  }
	  .content404 h3 {
		font-size: 38px;
	}
	  .content404 p {
		font-size: 23px !important;
		line-height: 42px;
		width: 100%;
	}
}
@media screen and (max-width:900px) {
	.radiobutton input {
		height: 25px;
		width: 25px;
	}
	.radiobutton input:checked::before {
		top:4px;
		font-size: 19px;
		left: 7%;
	}
	.radiobutton label ,.radiobutton label:last-child{
		width: 90%;
		margin-bottom: 5px;
	}
	.shift-enddate{
		text-align: right;
	}
	.shiftdrop-box .shift-swap-left h4 {
		padding: 30px 0 0 0;
	}
	.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(1){
		width: 50%;
	}
	.assigntimeduration .shiftswap-crew li:nth-child(3){
		border-right: 0;
	}
	.assigntimeduration .shiftswap-crew li:nth-child(4){
		border-right: 2px solid #ccc;
		border-bottom: 0 !important;
	}
	.login-modal {
		width: 80%;
	}
	.header-selectbox {
		width: 8em;
	}
	.nav-search {
		width: 272px;
		position: relative;
	}
	.nav-search {
		width: 272px;
	}
	.nav-search i.la.la-close {
		right: 42%;
	}

}
@media screen and (max-width:820px) {
	.header-rightmenu ul li { padding-right: 4px; }
	.header-rightmenu .dropdown-toggle i
	{
		width: 28px;
		height: 28px;
		line-height: 28px;
		font-size: 19px;
	}
	body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded, body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-header.expanded { width: 200px; }
	.chatreply-box textarea { width: 71%; }
	.associate-tablist li a { padding: 0 15px 10px; }
	.notelist, .chatlisting { margin-bottom: 20px; }
	.ssnfromgroup input { width: 25%; }
	.mobile-right-button .button {
		padding: 0 10px !important;
	}
	.addlocation-listing p span {
		font-size: 12px;
	}
}

@media screen and (max-width:767px) {
	body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
		width: 100%;
		position: absolute;
		top: 55px;
		height: auto;
	}
	.header-rightmenu ul li {
		padding-right: 4px;
		float: none;
		display: inline-block;
	}
	.main-menu.menu-dark .navigation>li>ul, .main-menu.menu-dark ul.menu-popout {
		background: #4a5061;
		left: 0;
	}
	body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation > li > a > i,.radioselectbox input{
		margin-right: 10px;
	}
	.logoiconmd,.main-menu  { display: none; }
	.main-menu.menu-dark .navigation li a span {
		display: inline-block;
	}
	.logotext
	{
		display: block !important;
		width: 100%;
	}
	.skin-blue .navbar-semi-dark
	{
		height: auto;
		background: inherit !important;
		box-shadow: none;
	}
	.header-navbar .navbar-header,.nextdetails,body.vertical-layout.vertical-menu-modern .navbar .navbar-header,.formgroupbox .common-selectbox { width: 100%; }
	.header-rightmenu{
		float:none;
	}
	.main-menu.menu-fixed
	{
		top: 61px;
	}
	.innermenu-content {
        padding-right: 0px !important;
    }
	.header-navbar.navbar-with-menu .navbar-container
	{
		width: 100%;
		display: table;
		padding: 0 1rem;
		margin: 0;
		height: auto;
	}
	#navbar-mobile.navbar-collapse .navbar-nav
	{
		margin: 0;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-flow: row wrap;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	li.mobile-menu.d-md-none.mr-auto i, .open-navbar-container i
	{
		font-size: 35px !important;
		color: #fff;
		padding-top: 0px;
	}
	.header-rightmenu i.la.la-user { font-size: 26px; }
	.header-rightmenu li span
	{
		font-size: 16px;
		line-height: 28px;
	}
	.navbar-container.content {
		width: 80% !important;
		float: right;
	}
	.nav-search {
		width: 358px;
		position: relative;
	}
	.header-rightmenu li input {
		width: 230px;
		padding:7.6px 9px;
	}
	.topnavbar {
		text-align: center;
	}
	.toptitlebar h2 {
		font-size: 22px;
		line-height: 33px;
		margin-bottom: 10px;
	}
	.inputsearch, .allselectbox,li.d-md-none { margin-right: 0; }
	.easy-autocomplete,.navigation li:hover { width: 100% !important; }
	.noteuserdetail { width: 89%; }
	.noteuserdetail h4 small
	{
		clear: inherit;
		display: inline;
		float: none;
	}
	.chatreply-box textarea
	{
		width: 100%;
		margin-bottom: 10px;
	}
	.chatreply-box button
	{
		padding: 8px 15px;
		float: right;
		margin-bottom: 10px;
	}
	.noteuserdetail
	{
		width: 85%;
		display: table-column;
	}
	.notelist:after, .chatlisting:after
	{
		clear: both;
		display: block;
		content: '';
	}
	.assigntimeduration ul li
	{
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 13px;
	}
	.assigntimeduration ul li h4,.selectweeks h5 { font-size: 15px; }
	.assigntimeduration ul li h5 { font-size: 13px; }
	.filterdetailbox
	{
		right: -4%;
		width: 186%;
		overflow-y: scroll;
		height: 255px;
	}
	.filterapplybtn a { width: 21%; }
	li.mobile-menu.d-md-none.mr-auto { margin-left: 10px; }
	ul.navbar-nav.flex-row { padding: 10px 0; }
	.header-navbar .navbar-header { height: 56px; }
	.main-menu.menu-fixed { top: 55px; }
	.assignsearch ul li,.shift-swap-left h4
	{
		margin-bottom: 10px;
	}
	.applicantsearch , .assignsearch ul li input { margin: 0; }
	.assigntitle h3
	{
		font-size: 17px;
		margin-bottom: 10px;
		line-height: 20px;
	}
	.filterbyselect { width: 58%; }
	.profileavaila ul li
	{
		width: 29.33%;
		margin-right: 20px;
	}
	.complateuser-detail.clearfix,.roleskillsbox ul li, .compliancelist .uploadfilename, .locationpinbox li  { margin-bottom: 5px; }
	.allsearch-listing ul li { width: auto; }
	.tabinnerrolelist ul li { width: 49.333%; }
	.makeoffer-detail .profileavaila ul li
	{
		width: 29.333%;
		margin-right: 16px;
	}
	.chatreply-box button
	{
		padding: 8px 15px;
		margin-right: 10px;
	}
	.col-xl-10.col-md-10.col-9.rightpaddingnone
	{
		margin-left: 6px;
		max-width: 80%;
	}
	.col-xl-2.col-md-2.col-3.leftpaddingnone
	{
		max-width: 22%;
		flex: 0 0 22%;
	}
	.associateuser img {
		width: 75px;
		height: 76px;
	}
	.clientdetail-select,.profile-upload,.projectshift-searchbar,.shiftdrop-box .shift-swap-left h4 {
		margin-bottom: 13px;
	}
	.mobile-right-button{
		float: right;
	}
	.norecord-rightbox {
		margin-top: 9px;
	}
	.associateuserdet {
		margin-top:1px;
	}
	.assouserid {
		margin-bottom: 0px;
	}
	.ssn-input-group input {
		width: 31%;
	}
	.radiobutton.radioselectbox,.shift-enddate{
		text-align: left;
	}
	.shift-swap-left h4,.shiftdrop-box .shift-swap-left h4,.applicant-main-part .shiftday1 {
		padding: 0;
	}
	.consecutive h4 {
		padding: 10px 0 0 !important;
	}
	.work-overtime-box {
		padding: 15px 20px;
	}
	.shift-swap-left.shiftdays,.shiftday1{
		padding: 0 0 0 20px;
	}
	.addleft-checkbox {
		width: 10%;
	}
	.addshiftbox .col-lg-7.col-md-7.col-sm-7,.addshiftbox .col-lg-5.col-md-5.col-sm-5 {
		flex: auto;
		max-width: 100%;
	}
	.modal-dialog.modalwidth80 {
		width: 95%;
	}
	.modal-dialog.modalwidth40 {
		width: 90%;
	}
	.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(5){
		width: 50%;
		border-bottom:0 !important;
	}
	.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(2),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(3){
		width: 25%;
	}
	.brcard-rightcont span,.brcard-rightcont .pendingactionlist.ellipsisicon i.la.la-ellipsis-h {
		padding-right: 8px;
		line-height: 20px;
	}
	.toptitlebar {
		width: 100%;
		padding-right: 0;
	}
	.associateworkerdetail, .formgroupbox .common-selectbox {
		width: 83.5%;
	}
	.select-associate-list{
		margin-bottom: 30px;
	}
	.searchform-group.pdpage-box {
		position: inherit;
		right: 0;
		bottom: 0;
		float: right;
		clear: both;
		margin: 10px 0;
	}
	.accordingdetail.margin-bottom15 {
		clear: both;
	}
	.view-timesheet-modal,.applicant-list-modal {
		min-width: auto;
		width: 94%;
	}
	.availability-weeklist li {
		width: 211px !important;
	}
	.make-rightbtn {
		position: inherit;
		right: auto;
		top: 10px;
		float: right;
		width: 100%;
		padding-right: 21px;
	}
}
@media screen and (max-width:600px) {
	.navbar-container.content {
		width: 84% !important;
	}
	.header-rightmenu li input {
		width: 63%;
		padding: 8px 9px;
	}
	.assigntimeduration .todayshiftlist li {
		padding: 7px;
		width: 33%;
	}
	.assigntimeduration .todayshiftlist li:nth-child(3),.assigntimeduration .todayshiftlist li:nth-child(6){
		border-right: 0;
	}
	.assigntimeduration .todayshiftlist li:nth-child(4){
		border-right: 2px solid #ccc;
	}
	.assigntimeduration .todayshiftlist li:nth-child(5),.assigntimeduration .todayshiftlist li:nth-child(6){
		border-bottom: 2px solid #ccc !important;
	}
	.todayshiftlist.upcomingshiftlist li:nth-child(4),.todayshiftlist.upcomingshiftlist li:nth-child(5),.todayshiftlist.upcomingshiftlist li:nth-child(6){
		border-bottom: 0 !important;
	}
	.offeremp {
		width: 100%;
	}
	.offeremp h3 strong{
		display: inline-block;
	}
	.offeremp h3 span{
		word-wrap: break-word;
	}
	.associateworkerdetail, .formgroupbox .common-selectbox {
		width: 80.5%;
	}

}
@media screen and (max-width:580px) {

	.invitemodal-width {
		width: 97% !important;
		margin: 30px auto !important;
	}
	.availability-weeklist li {
		width: 195px !important;
	}
}


@media screen and (max-width:530px) {
	.noteuserdetail { width: 80%; }
	.noteuserdetail h4 small
	{		clear: both;
		display: block;
	}
	.profileavaila ul li,.textstandard  { width: 45%; }
	.compliancelist ul li { font-size: 13px; }
	.compliancelist ul li i { font-size: 18px; }
	.tabinnerrolelist ul li,.row.mobile-clearclass,.activityselect,.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(1) { width: 100%; }
	.skilladdboxs a { font-size: 14px; }
	.makeoffer-detail .profileavaila ul li
	{
		width: 45.333%;
		min-height: 220px;
	}
	.mobile-clearclass:after
	{
		clear: both;
		display: block;
		content: "";
	}
	.activityselect .innerselectbox {
		width: 170px;
	}
	.collapseicon[data-toggle=collapse]:before, .collapseicon[data-toggle=collapse]:after {
		top: 30% !important;
	}
	.project-location-right {
		line-height: 39px !important;
	}
	li.profilename {
		clear: both;
		display: inline-block !important;
		margin-top: 0 !important;
	}
	.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(1),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(4){
		border-right: 0;
	}
	.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(3){
		border-right: 2px solid #ccc;
	}
	.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(4){
		border-bottom: 2px solid #ccc !important;
		width: 50%;
	}
	.workhistory-btngr a.ng-star-inserted {
		width: 100%;
		display: block;
		margin-bottom: 7px;
	}
	.associateworkerdetail, .formgroupbox .common-selectbox {
		width: 76.5%;
	}
}

@media screen and (max-width:480px) {
	.ml-3{
		margin-left: 0px;
	}
	.header-rightmenu ul li {
		margin: 10px 4px 0 0;
		padding: 0;
		display: inline;
	}
	.header-rightmenu i.la.la-user {
		float: none;
	}
	.notification-listing p small
	{
		width: 73%;
		float: left;
		clear: both;
		display: block;
	}
	.actionitem ul li h5
	{
		line-height: 49px;
		font-size: 14px;
	}
	.actionitem ul li span
	{
		width: 50px;
		height:65px;
		font-size: 18px;
		line-height: 65px;
	}
	.actionitem li a {
		padding: 0px 10px;
		font-size: 12px;
		margin: 0px 0 4px 0;
		float: left;
	}
	.actionitem ul li h5 { line-height:30px; width: 82%; }
	.totaluserdetails, .userdetailbox { padding: 10px 0; }
	.header-navbar.navbar-with-menu .navbar-container { padding: 0 2px; }
	.topnavbar { padding: 10px 5px; }
	.topnavbar .col-3.col-md-5, .topnavbar .col-9.col-md-7
	{
		max-width: 100%;
		flex: 100%;
	}
	.toptitlebar h2
	{
		line-height: 20px;
		text-align: center;
	}
	.pendingsign-listing .notificontent {
		line-height: 22px;
	}
	.header-rightmenu {
		float: none;
		margin: auto;
		text-align: center;
		display: block;
		width: auto;
	}
	.header-rightmenu .dropdown-toggle i
	{
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 16px;
	}
	.userdestails img { width: 35%; }
	.associate-tablist li a { margin-top: 10px; }
	.noteuserdetail { width: 77.333%; }
	.resumeimagelist ul li h3 { font-size: 14px; }
	.assignsearch ul li{ width: 100%; }
	.assouserid h4 i, .assousername h4 i, .assouserphone h4 i
	{
		width: 17px;
		height: 17px;
		line-height: 17px;
		font-size: 11px;
	}
	i.idicon { font-size: 11px !important; }
	.profileavaila ul li
	{
		width: 100%;
		min-height: auto;
	}
	.select2-container { width: 100% !important; }
	.innermenu-content
	{
		left: 9px !important;
		top: 98% !important;
	}
	li.has-sub.is-shown:hover i { transform: rotate(0) !important; }
	.col-xl-10.col-md-10.col-9.rightpaddingnone { max-width: 74%; }
	.col-xl-2.col-md-2.col-3.leftpaddingnone
	{
		max-width: 28%;
		flex: 0 0 24%;
	}
	.noteheader input { width: 38%; }
	.associateuser img {
		width: 60px;
		height: 60px;
	}
	.navbar-container.content {
		width: 85% !important;
	}
	.nav-search {
		display: inline-flex;
	}
	.show-assignment {
		display: inherit;
		float: left;
		width: 100%;
		text-align: left;
	}
	.show-assignment .common-selectbox {
		width: auto;
		margin-left: 0;
	}
	.project-location-right {
	   line-height: 37px !important;
	}
	.collapseicon[data-toggle=collapse]:before, .collapseicon[data-toggle=collapse]:after {
		top: 25% !important;
	}
	li.profilename {
		display: block !important;
		text-align: center !important;
	}
	.header-rightmenu .dropdown .dropdown-toggle {
		margin-right: 8px;
	}
	.addleft-checkbox {
		width: 12%;
	}
	.addshiftbox {
		margin-right: 0px;
	}
	.addshiftbox span {
		width: 100%;
		display: block;
		clear: both;
	}
	.wishreschedule p {
		line-height: 23px;
	}
	.assigntimeduration .todayshiftlist li:nth-child(4) h5,.assigntimeduration .todayshiftlist li:nth-child(5) h5,.assigntimeduration .todayshiftlist li:nth-child(6) h5{
		min-height: 50px !important;
	}
	.assigntimeduration .todayshiftlist.shiftswap-crew  li:nth-child(4) h5,.assigntimeduration .todayshiftlist.shiftswap-crew  li:nth-child(5) h5{
		min-height: auto !important;
	}
	.timepicker-box {
		width: 70%;
	}
	.timesheet-listing ul li {
		display: inline-block;
		width: 100%;
		padding-top: 0 !important;
		border-bottom: 1px solid #e6e6e6;
		margin-bottom: 10px;
	}
	.timesheet-listing ul li:last-child{
		border-bottom: 0;
	}
	.timesheet-listing ul li p {
		width: 100%;
	}
	.location-trashIcon {
		top: 0;
	}
	.applicant-list-modal h3, .applicant-main-part h3 {
		font-size: 18px;
		text-align: left;
	}
	.availability-weeklist li {
		width: 100% !important;
	}
	.timecolumn label.blueicontext {
		clear: both;
		display: block;
	}
}

@media screen and (max-width:420px) {
	.makeoffer-detail .profileavaila ul li
	{
		width: 100%;
		min-height: auto;
	}
	.col-xl-10.col-md-10.col-9.rightpaddingnone { max-width: 67%; }
	.col-xl-2.col-md-2.col-3.leftpaddingnone
	{
		max-width: 31%;
		flex: 0 0 18%;
	}
	.ml-3{
		margin-left: 0px;
	}
	.actionitem ul li h5 {
		width: 75%;
		line-height: 19px;
		margin: 5px 0;
	}
	.navbar-container.content {
		width: 100% !important;
	}
	.availability-table-list ul li {
		display: block;
	}
	.addcategory-list li {
		padding: 0px 0 0 5px;
	}
	.addshiftmodal h3 {
		font-size: 19px;
		padding-bottom: 8px;
	}
	.shift-swap-left.shiftdays, .shiftday1 {
		padding: 0px;
	}
	.applicant-list-modal ul li {
		padding: 0px 0px 0;
	}
	.assigntimeduration .todayshiftlist li {
		padding: 7px;
		width: 50%;
	}
	.assigntimeduration .todayshiftlist li:nth-child(2),.assigntimeduration .todayshiftlist li:nth-child(4),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(1),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(4),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(3),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(5){
		border-right: 0;
	}
	.assigntimeduration .todayshiftlist li:nth-child(3),.assigntimeduration .todayshiftlist li:nth-child(5),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(2),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(4){
		border-right: 2px solid #ccc;
	}
	.assigntimeduration .todayshiftlist li:nth-child(5),.assigntimeduration .todayshiftlist li:nth-child(6),.todayshiftlist.upcomingshiftlist li:nth-child(4),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(4){
		border-bottom: 2px solid #ccc !important;
	}
	.assigntimeduration .todayshiftlist li:nth-child(4) h5{
		min-height: 30px !important;
	}
	.todayshiftlist.upcomingshiftlist li:nth-child(5),.todayshiftlist.upcomingshiftlist li:nth-child(6),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(4){
		border-bottom: 0 !important;
	}
	.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(2), .assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(3),.assigntimeduration .todayshiftlist.shiftswap-crew li:nth-child(4) {
		width: 50%;
	}
	.nav-search {
		width: 100%;
		position: relative;
	}
	.nav-search i.la.la-close {
		right: 43%;
	}
	.associateworkerdetail, .formgroupbox .common-selectbox {
		width: 72.5%;
	}
	.assocaite-btngroup {
		text-align: right;
	}
	.assocaite-btngroup button {
		margin-bottom: 10px !important;
	}

}

@media screen and (max-width:360px) {
	.notificons { margin-right:10px; }
	.notification-listing li i
	{
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 17px !important;
	}
	.noteheader p { clear: both; }
	.noteheader p input { width: 102px; }
	.col-xl-10.col-md-10.col-9.rightpaddingnone { max-width: 62%; }
	.col-xl-2.col-md-2.col-3.leftpaddingnone
	{
		max-width: 35%;
		flex: 0 0 18%;
	}
	.ssnfromgroup input
	{
		width: 24%;
		padding: 10px 8px;
	}
	.assigntitle h3 { font-size: 16px; }
	.main-menu.menu-dark .navigation>li>a { padding: 7px 10px 7px 10px; }
	.main-menu.menu-dark .navigation>li ul,.notification-listing li p { font-size: 13px; }
	.navigation > li:hover .menu-title { font-size: 15px; }
	.main-menu.menu-dark .navigation>li ul li>a { padding: 5px 10px 5px 13px; }
	.ml-3{
		margin-left: 0px;
	}
	.associateuser img {
		width: 43px;
		height: 48px;
	}
	.associate-tablist li a {
		padding: 0 4px 10px;
		font-size: 12px;
	}
	.header-rightmenu ul li {
		display: table-cell;
	}
	.selectweeks .common-selectbox {
		width: 60%;
		margin-right: 10px;
	}
	.addleft-checkbox {
		width: 17%;
	}
	.crewleftdetail span {
		clear: both;
		width: 100%;
		display: block;
	}
	.modal-header .close span {
		font-size: 27px;
		width: 47px;
		height: 47px;
		line-height: 47px;
	}
	.associateworkerdetail, .formgroupbox .common-selectbox {
		width: 64.5%;
	}
	.selectpeoplelist input {
		width: 100%;
		margin-bottom: 5px;
	}
	.selectpeoplelist a {
		margin: auto auto 16px auto !important;
		float: right !important;
	}
}
@media screen and (max-width:325px) {
	.header-rightmenu { width: 100%; }
	.header-rightmenu ul { margin-bottom: 0;}
	.header-rightmenu ul li
	{
		float: none;
		margin: 10px 0 0;
	}
	.ml-3{
		margin-left: 0px;
	}
	.assigned-buttongroup button {
		font-size: 13px;
		padding: 0 4px;
		line-height: 27px;
	}
}
