<div class="main-menu menu-fixed menu-dark" id="sidebar">
    <div class="main-menu-content">
        <ul class="navigation navigation-main">
            <li class="nav-item" id="activeDashboard">
                <a><img src="../../../assets/images/write.png" alt=""> <span routerLink="/pages/write-new-book" class="menu-title ml-1" style="color:#6CC417;"> <strong> Write New Book</strong></span></a>
            </li>
            <li class="nav-item">
               <a><img  src="../../../assets/images/books.png" alt=""> <span routerLink="/pages/my-book-shelf" class="menu-title ml-1" style="color:#6CC417;"> <strong> My Book Shelf</strong></span></a>
            </li>
            <li class="nav-item">
                <a><img src="../../../assets/images/contact-us.png" alt=""> <span routerLink="/pages/courses" class="menu-title ml-1" style="color:#6CC417;"> <strong> Courses</strong></span></a>
             </li>
             <li class="nav-item">
                <a><img  src="../../../assets/images/change-level.png" alt=""> <span routerLink="/pages/change-level" class="menu-title ml-1" style="color:#6CC417;"> <strong> Change Level</strong></span></a>
             </li>
             <li class="nav-item">
                <a><img  src="../../../assets/images/notification.png" alt=""> <span routerLink="/pages/notifications" class="menu-title ml-1" style="color:#6CC417;"> <strong> Notifications</strong></span></a>
             </li>
             <li class="nav-item">
                <a><img  src="../../../assets/images/my-profile.png" alt=""> <span routerLink="/pages/my-profile" class="menu-title ml-1" style="color:#6CC417;"> <strong> My Profile</strong></span></a>
             </li>
             <li class="nav-item">
                <a><img  src="../../../assets/images/subscriptions.png" alt=""> <span routerLink="/pages/subscriptions" class="menu-title ml-1" style="color:#6CC417;"> <strong> Subscriptions</strong></span></a>
             </li>
             <li class="nav-item">
                <a><img  src="../../../assets/images/contact-us.png" alt=""> <span routerLink="/pages/contact-us" class="menu-title ml-1" style="color:#6CC417;"> <strong> Contact Us</strong></span></a>
             </li>
             <li class="nav-item">
                <a><img  src="../../../assets/images/support.png" alt=""> <span routerLink="/pages/support" class="menu-title ml-1" style="color:#6CC417;"> <strong> Support</strong></span></a>
             </li>
             <li class="nav-item">
                <a><img  src="../../../assets/images/logout.png" alt=""> <span routerLink="/pages/logout" class="menu-title ml-1" style="color:#6CC417;"> <strong> Logout</strong></span></a>
             </li>
        </ul>
    </div>
</div>
