<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="assignmentdetails">
                <div class="assignsearchead">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="assigntitle">
                                <h3>
                                    <a href="javascript:void(0);" class="arrow-left" (click)="back()"><i class="fa fa-angle-left"></i></a>
                                {{pageTitle}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="associate-norecords">
                      <form action="" id="form_level">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-center" style="color:rgb(0, 108,224);"><strong>Choose Your Level</strong></h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose">
                                     <p class="textstyle"><strong>Beginner</strong></p>
                                     <p>You have an idea for a story</p>
                                     <p>You want to know how to turn this idea into a great story</p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose fit-content">
                                     <p class="textstyle"><strong>Intermediate</strong></p>
                                     <p>You have an idea for a story</p>
                                     <p>You can start writing the story</p>
                                     <p>You want to finish a first draft of the story</p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose fit-content">
                                     <p class="textstyle"><strong>Advanced</strong></p>
                                     <p>You can start a story and complete a good first draft</p>
                                     <p>You want to improve upon your first draft and make it ready</p>
                                     <p>for primetime.</p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose">
                                     <p class="textstyle"><strong>Accomplished</strong></p>
                                     <p>You have already completed at least one story</p>
                                 </div>
                            </div>
                        </div>
                    </form>
                    <form action="" id="form_liketowrite" style="display:none;">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-center" style="color:rgb(0, 108,224);"><strong>What would you like to write today?</strong></h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose">
                                     <p style="font-size:20px;line-height: 100px;"><strong>A Story</strong></p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose fit-content">
                                     <p style="font-size:20px;line-height: 100px;"><strong>A Biography</strong></p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose fit-content">
                                     <p style="font-size:20px;line-height: 100px;"><strong>An Informational Piece</strong></p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose">
                                     <p style="font-size:20px;line-height: 100px;"><strong>A Poem</strong></p>
                                 </div>
                            </div>
                        </div>
                    </form>
                    <form action="" id="form_wanttodo" style="display:none;">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-center" style="color:rgb(0, 108,224);"><strong>What do you want to do today?</strong></h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose">
                                     <p style="font-size:20px;line-height: 100px;"><strong>Folktale</strong></p>
                                 </div>
                            </div>
                        </div>
                    </form>
                    <form action="" id="form_genre" style="display:none;">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h2 class="text-center" style="color:rgb(0, 108,224);"><strong>Choose Genre</strong></h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose">
                                     <p style="font-size:20px;line-height: 100px;"><strong>Fable</strong></p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose fit-content">
                                     <p style="font-size:20px;line-height: 100px;"><strong>Fairytale</strong></p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose fit-content">
                                     <p style="font-size:20px;line-height: 100px;"><strong>Myth</strong></p>
                                 </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <div class="choose">
                                     <p style="font-size:20px;line-height: 100px;"><strong>Legend</strong></p>
                                 </div>
                            </div>
                        </div>
                    </form>
                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <!-- <div class="norecord-rightbox">
                                    <button class="exportbtn fillbluebutton" id="loginDisabledBtn" type="submit" (click)="showForm()">Next</button>
                                </div> -->
                                <nav class="d-flex norecord-rightbox">
                                    <ul class="pagination pagination-lg nav">
                                        <li class="page-item active">
                                          <a class="page-link" id="page1">1</a>
                                        </li>
                                        <li class="page-item">
                                          <a class="page-link" id="page2">2</a>
                                        </li>
                                        <li class="page-item">
                                          <a class="page-link" id="page3">3
                                          </a>
                                        </li>
                                        <!-- <li class="page-item">
                                          <a class="page-link" href="#">3</a>
                                        </li> -->
                                        <li class="page-item next">
                                          <a class="page-link" id="page4">4</a>
                                        </li>
                                      </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
