<div class="app-content content">
   <div class="content-wrapper">
       <div class="content-body">
          <div class="assignmentdetails">
             <div class="assignsearchead">
                 <div class="row">
                     <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                         <div class="assigntitle">
                             <h3>
                                <a href="javascript:void(0);" class="arrow-left" (click)="back()"><i class="fa fa-angle-left"></i></a>
                             {{pageTitle}}</h3>
                         </div>
                     </div>
                 </div>
                 <div class="associate-norecords">
                     <div class="row mb-2">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <table [cellSpacing]="20" style="margin:auto;">
                               <tr>
                                  <td><img  src="../../../assets/images/lekha-app-icon.png" alt="" width="80px" height="80px"></td>
                                  <td>
                                     <h1 style="color:black;">Lekha Ink</h1>
                                     <p style="color:black;">The Next Generation of Wordsmiths</p>
                                  </td>
                               </tr>
                            </table>
                        </div>
                     </div>
                     <div class="row textcolor">
                         <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
                             <h2>Address:</h2>
                         </div>
                         <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <h2>Lekha Ink, Corp.</h2>
                            <h2>263 Ridgeview Drive</h2>
                            <h2>Tracy CA 95377</h2>
                        </div>
                     </div>
                     <div class="row textcolor">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                            <h2>Phone:</h2>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                           <h2>+1(209) 666-2068</h2>
                       </div>
                    </div>
                    <div class="row textcolor">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                            <h2>Email:</h2>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                           <h2><u>info@lekhaink.com</u></h2>
                       </div>
                    </div>
                    <div class="row textcolor">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                            <h2>Bookstore:</h2>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                           <h2><u>www.lekhaink.com</u></h2>
                       </div>
                    </div>
                 </div>
             </div>
          </div>
       </div>
   </div>
</div>
