<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="assignmentdetails">
                <div class="assignsearchead">
                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="assigntitle">
                                 <h3>
                                    <a href="javascript:void(0);" class="arrow-left" (click)="back()"><i class="fa fa-angle-left"></i></a>
                                 {{pageTitle}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="associate-norecords">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
                               <div  style="background-color:#83EEFF;width:30%;border-radius: 10px;margin: auto;">
                                  <p style="color:rgb(0,108,224);">Age</p>
                                  <h4 style="color:rgb(0,108,224);">35 Years</h4>
                               </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center mt-2 mb-2">
                                <span>
                                    <img src="../../../assets/images/profile-img.png" alt="" style="background:white;border-radius:100%;padding: 5px;box-shadow: 0px 0px 12px 5px rgba(117,117,117);">
                                </span>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
                                <div  style="background-color: #83EEFF;width:30%;border-radius: 10px;margin: auto;">
                                    <p style="color:rgb(0,108,224);">Education Level</p>
                                    <h4 style="color:rgb(0,108,224);">Grade 5-8</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="color:rgb(0,108,224);font-weight: bold;">
                                <p>mail jain gmail</p>
                                <p><i class="fa fa-envelope" style="font-size:20px;"></i> rajatjain4061@gmail.com</p>
                                <p><i class="fa fa-mobile" style="font-size:25px;"></i> +918104614061</p>
                                <p><i class="fa fa-map-marker" style="font-size:25px;"></i>  23/162, near jain temple, kaiser gang ajmer</p>
                                <p>Pleasanton</p>
                                <span style="background:rgb(0,108,224);color: white;padding: 2px 20px;border-radius: 15px;">Beginner</span>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                 <img src="../../../assets/images/book.png" alt="">
                                 <p style="background-color:#6CC417;color: white;padding:6px 0px;font-weight: bold;font-size: 15px;width:50%;margin: auto;">Written</p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                <img src="../../../assets/images/book.png" alt="">
                                <p style="background-color:#6CC417;color: white;padding:6px 0px;font-weight: bold;font-size: 15px;width:50%;margin: auto;">Reviewed</p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                <img src="../../../assets/images/book.png" alt="">
                                <p style="background-color:#6CC417;color: white;padding:6px 0px;font-weight: bold;font-size: 15px;width:50%;margin: auto;">Published</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
